<!DOCTYPE html>
<html>
  <head>
    <title>Feedlet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'),
      :rel => 'icon', :type =>  'image/png' %>

    <script type="text/javascript">
      window.favicon = "<%= image_url('favicon.png') %>"

      window.screenshot = "<%= image_url('screenshot_real.png') %>"
      window.logo = "<%= image_url('feedly-logo.png') %>"
      window.right_arrow = "<%= image_url('right_arrow.png') %>"
      window.left_arrow = "<%= image_url('left_arrow.png') %>"
      window.down_arrow = "<%= image_url('down_arrow.png') %>"
      window.hamburger_menu = "<%= image_url('hamburger_menu.png') %>"
      window.settings_icon = "<%= image_url('settings_icon.png') %>"
      window.close_icon = "<%= image_url('close_icon.png') %>"
      window.bookmark_icon = "<%= image_url('bookmark_icon.png') %>"
      window.plus_icon = "<%= image_url('plus_icon.png') %>"
      window.today_icon = "<%= image_url('today_icon.png') %>"
      window.rss_icon = "<%= image_url('rss_icon.png') %>"
      window.green_plus_icon = "<%= image_url('green_plus_icon.png') %>"
      window.checkmark_icon = "<%= image_url('checkmark_icon.png') %>"
      window.search_icon = "<%= image_url('search_icon.png') %>"

      window.news_api_key = "<%= Rails.application.credentials.news_api[:api_key] %>"
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
